#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$gM9xNzgZ$bb9N/ThLeV/pkPagQiiee/
# Use network installation
url --url="http://192.168.168.140/centos7"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Accept license
eula --agreed

# Network information
network  --bootproto=dhcp --device=en01 --hostname=ct7
# Halt after installation
halt
# System timezone
timezone America/Los_Angeles
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --size=500
part / --fstype="ext4" --size=5000
part swap --fstype="swap" --size=1024

%packages
@ X Window System           #@x11
@ GNOME                     #@gnome-desktop - A GNOME desktop
tree
git
gcc
sudo
curl
wget
ntp
%end

%post
mkdir -p /data
systemctl set-default graphical.target
wget http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
rpm -ivh epel-release-latest-7.noarch.rpm
%end